<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="__HOME_CSS__/wh/base.css">
    <link rel="stylesheet" href="__HOME_CSS__/wh/nespreview.css">


    <script src="__HOME_JS__/whjs/js/jquery-3.2.1.js"></script>
    <script src="__HOME_JS__/whjs/js/template-web.js"></script>
    <script src="__HOME_JS__/whjs/js/rem.js"></script>
    <script src="__HOME_JS__/whjs/js/newpreview.js"></script>
</head>
<body>
    <div id="content">
        <h1>真正的成功，就是家庭幸福！</h1>
        <p class="message clearfix">
            <span class="fl">2018-01-09 16:20</span>
            <span class="fl item">阅读：132</span>
            <a class="fr" href="#">文章出处</a>
        </p>
        <div class="Company_message">
            <div class="ig_bx">
                <img src="__HOME_IMAGES__/timg.jpg" alt="">
            </div>
                
        </div>
        <div class="content_box">
            大街上来看大家没事啦m是哪的空间撒大口径三等奖看你说的山卡拉建档立卡时间到了撒即可到了静安寺劳动纪律撒娇的看来大家撒来得及拉三季度
        </div>
    </div>

     <div class="cpmessage">
        <div class="img_box">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        


     </div>
   <script type="text/javascript">
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			// 通过下面这个API隐藏右上角按钮hideOptionMenu
			WeixinJSBridge.call('hideOptionMenu');
		});
	</script>
</body>
</html>