<extend name="./base" />

<block name="css_extend">
	<link rel="stylesheet" type="text/css" href="__HOME_CSS__/feedback.css" />

	<style>
		.zzc_heka_nav {
			overflow: hidden;
			width: 100%;
			position: relative;
			padding: 10px 5%;
			margin: 10px auto 0px auto;
		}
		
		.zzc_heka_nav_li {
			width: 20%;
			float: left;
			list-style: none;
			text-align: center;
		}
		
		.zzc_heka_nav_li img {
			border-radius: 50%;
			width: 70%;
			margin: auto;
			font-size: 13px;
		}
		
		.zzc_heka_nav_li_title {
			font-size: 13px;
			color: #333333;
		}
		
		.zzc_heka_nav_textarea {
			width: 90%;
			margin: auto;
		}
		
		.zzc_heka_nav_textarea textarea {
			font-size: 14px;
			border: none;
			background: #f6f6f7;
			color: #333333;
			border-radius: 0px;
		}
		
		.zzc_heka_nav_textarea input {
			background: #AAAAAA;
			color: #FFFFFF;
			font-size: 14px;
			border-radius: 5px;
			padding: 3px 15px;
		}
		
		.zzc_heka_title {
			width: 90%;
			margin: 0px auto;
			padding: 10px 0px;
			border-bottom: 1px solid #EEEEEE;
		}
		
		.zzc_heka_nav_bottom {
			border-top: 1px solid #EEEEEE;
			margin-top: 10px;
		}
		
		.zzc_heka_beijing {
			width: 90%;
			overflow: hidden;
			border-bottom: 1px solid #EEEEEE;
			padding: 10px 0px;
			margin: auto;
		}
		
		.zzc_heka_beijing_img {
			width: 50%;
			float: left;
			overflow: hidden;
			height: 120px;
			position: relative;
			background-size: 100%;
			text-align: center;
			line-height: 120px;
		}
		
		.zzc_heka_beijing_img img {
			width: 80%;
		}
		
		.zzc_heka_beijing_ico {
			margin: 10px 10px 0px 0px;
		}
		
		.zzc_heka_beijing_ico_img {
			width: 50px;
			border-radius: 50%;
			height: 50px;
			border: 1px solid #CCCCCC;
			margin: 5px auto;
		}
		
		.zzc_heka_beijing_ico div.on {
			background: #696d6f;
		}
		
		.zzc_heka_beijing_sub {
			width: 90%;
			margin: auto;
			margin-bottom: 60px;
			overflow: hidden;
		}
		
		.feedback .zzc_heka_subimg {
			border-radius: none;
			width: 30%;
			float: left;
		}
		
		.zzc_heka_subimg_right {
			float: left;
			width: 70%;
			padding-top: 30px;
			font-size: 14px;
			color: #666;
		}
		
		.zzc_heka_beijing_img .text {
			text-shadow: -1px 0 {
				$data.font_border_color
			}
			,
			0 1px {
				$data.font_border_color
			}
			,
			1px 0 {
				$data.font_border_color
			}
			,
			0 -1px {
				$data.font_border_color
			}
			;
			color: {
				$data.font_color
			}
			;
		}
	</style>
</block>
<block name="body">

	<body class="">

		<form action="{:url('Home/Greeting/editUsersGcard')}" method="post" id="form" enctype="multipart/form-data">
			<input type="hidden" name="do" value="{$Think.get.do}">
			<input type="hidden" name="id" value="{$Think.get.id}">
			<input type="hidden" name="type" value="{$Think.get.do}">
			<input type="hidden" name="jump_url" value="">

			<div class="mui-content ">
				<include file="Public/hekaNav" />
				<div class="zzc_heka_nav_bottom">
					<div class="zzc_heka_title">贺卡背景</div>
					<div class="zzc_heka_beijing">
						<div class="zzc_heka_beijing_img" style="background-image:url({$data.pic})">
							<span class="text">文字颜色</span>
						</div>

						<div class="zzc_heka_nav_li zzc_heka_beijing_ico">
							<a href="#">
								<div class="zzc_heka_beijing_ico_img" id="color_bg" style="background:{$data.font_color}" value="{$data.font_color}">
									<input type="hidden" name="font_color" value="{$data.font_color}">
								</div>
								<div class="zzc_heka_nav_li_title">文字色</div>
							</a>
						</div>
						<div class="zzc_heka_nav_li zzc_heka_beijing_ico">
							<a href="#">
								<div class="zzc_heka_beijing_ico_img" id="border_bg" style="background:{$data.font_border_color}" value="{$data.font_border_color}">
									<input type="hidden" name="font_border_color" value="{$data.font_border_color}">
								</div>
								<div class="zzc_heka_nav_li_title">描边色</div>
							</a>
						</div>

					</div>
					<div class="zzc_heka_beijing_sub feedback">
						<div id='image-list' class="row image-list zzc_heka_subimg">
							<img src="{$data.pic}" alt="" width="100%">
						</div>
						<span class="zzc_heka_subimg_right">
    						类型：jpg .png<br/>
    						图片比例640*1136图片最佳效果
    					</span>
						<input type="hidden" name="pic" value="{$data.pic}">
						<input id="fileUpload0" name="pic" type="file" accept="image/png,image/gif,image/jpeg,image/bmp" style="opacity: 0;">
					</div>
				</div>

			</div>
		</form>
	</body>
</block>

<block name="js_extend">
	<script type="text/javascript" src="__HOME_JS__/jquery.cxcolor.js"></script>
	<script>
		/* 颜色选择器--背景、字体颜色     */
		$("#color_bg").cxColor();
		(function() {
			var color = $("#color_bg");
			color.css("background", color.attr('value'));
			color.bind("change", function() {
				$('.zzc_heka_nav_bottom input[name=font_color]').val(this.value);
				color.css("background", this.value);
				$('.text').css("color", this.value);
			});

		})();
		$("#border_bg").cxColor();
		(function() {
			var color = $("#border_bg");
			color.css("background", color.attr('value'));
			color.bind("change", function() {
				$('.zzc_heka_nav_bottom input[name=font_border_color]').val(this.value);
				color.css("background", this.value);
				var css = "-1px 0 " + this.value + ", 0 1px " + this.value + ", 1px 0 " + this.value + ", 0 -1px " + this.value;
				$('.text').css("text-shadow", css);
			});

		})();
		$("#image-list img").on("touchend", function() {
			$("#fileUpload0").click();
		});
		$("#fileUpload0").on("change", function() {
			var objUrl = getObjectURL(this.files[0]); //获取图片的路径，该路径不是图片在本地的路径
			if(objUrl) {
				$(".zzc_heka_beijing_img").css("background-image", "url('" + objUrl + "')");
				$("#image-list img").attr("src", objUrl); //将图片路径存入src中，显示出图片
			}
		});
	</script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
	<script type="text/javascript">
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			// 通过下面这个API隐藏右上角按钮hideOptionMenu
			WeixinJSBridge.call('hideOptionMenu');
		});
	</script>
</block>