<extend  name="./base"/>

<block name="css_extend">

    <link href="__HOME_CSS__/bs3/dpl.css" rel="stylesheet" />
    <link href="__HOME_CSS__/bs3/bui.css" rel="stylesheet" />
    <script src="__HOME_CSS__/bs3/sea.js"></script>
    <script src="https://g.alicdn.com/bui/bui/1.1.21/config.js"></script>
</block>
<block name="body">
    <style>
    .content{
        margin-top: 10px;
        color: #999;
    }
    </style>
    <body class="zzc_body_bg">
        <div class="mui-content zzc_mui_content_bg zzc_shouruliushui">
            <div class="zzc_reg_from">
                <div class="zzc_reg_input">
                    <label class="">获得小秘币</label>
                    <div style="color:#2FB3D3" class="content">{$data.money}</div>
                </div>
                <!--<div class="zzc_reg_input" style="border: none;">-->
                    <!--<label class="">说明</label>-->
                    <!--<div class="content">{$data.msg}</div>-->
                <!--</div>-->
            </div>
            <div style="padding:10px;overflow:hidden;width:100%;">粉丝信息</div>
            <div class="zzc_reg_from">
                <div class="zzc_reg_input">
                    <label class="">等级</label>
                    <div class="content">{$data.vip_name}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">账号</label>
                    <div class="content">{$data.phone}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">姓名</label>
                    <div class="content">{$data.username}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">推荐人</label>
                    <div class="content">{$data.rec_user}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">消费方式</label>
                    <div class="content">{$data.consume}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">消费时间</label>
                    <div class="content">{$data.add_time|date="Y-m-d H:i",###}</div>
                </div>
                <div class="zzc_reg_input">
                    <label class="">消费金额</label>
                    <div class="content">{$data.consumption}</div>
                </div>
                <!--<div class="zzc_reg_input" style="border:none">-->
                    <!--<label class="">说明</label>-->
                    <!--<div class="content">{$data.msg}</div>-->
                <!--</div>-->

            </div>

        </div>
    </body>
</block>

<block name="js_extend">
    <script type="text/javascript">
        function zzc_dialog_title(){
            BUI.use('bui/overlay',function(overlay){
                BUI.Message.Show({
                    title : '提示',
                    msg : '切换成功?',
                    icon : 'question',
                    buttons : [
                        {
                            text:'取消',
                            elCls : 'button',
                            handler : function(){
                                this.close();
                            }
                        },
                        {
                            text:'确定',
                            elCls : 'button button-primary',
                            handler : function(){
                                this.close();
                            }
                        }
                    ]
                });
                show();
            });
        }
    </script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
	<script type="text/javascript">
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			// 通过下面这个API隐藏右上角按钮hideOptionMenu
			WeixinJSBridge.call('hideOptionMenu');
		});
	</script>
</block>