<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge，chrome=1">
		<link rel="stylesheet" href="__HOME_CSS__/dist/css/swiper.min.css" />
		<script src="__HOME_JS__/yb/js/rem.js"></script>
		<script src="__HOME_JS__/yb/js/jquery-3.1.1.min.js"></script>
		<title>公司荣誉</title>
		<style>
			.top{
				width: 100%;
				height: auto;
			}
			.top>img{
				width: 100%;
				height: auto;
			}
		</style>
	</head>
	<body>
		<div class="top">
			<img src="__HOME_IMAGES__/uccn/yxm/background_company@2x.png" alt="" />
		</div>
		<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script>
			//分享
			$(function() {
				var share_url = "{$share_url}";
				$.ajax({
					//几个参数需要注意一下
					type: "POST", //方法类型
					dataType: "json", //预期服务器返回的数据类型
					url: "index.php?s=/Api/WeShare/getSignPackage", //url
					data: {
						share_url: share_url
					},
					async: true,

					// async: false,
					success: function(result) {

						var title = "公司荣誉";
						var desc = "公司获得的荣誉";
						var link = "{:'http://'.$_SERVER['HTTP_HOST'].url('Home/Uccns/honor')}";
						var img_url = "http://wx.yxm360.com__HOME_IMAGES__/mplogo.jpg";

						wx.config({
							debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。移动端会通过弹窗来提示相关信息。如果分享信息配置不正确的话，可以开了看对应报错信息
							appId: result.AppendData.appId,
							timestamp: result.AppendData.timestamp,
							nonceStr: result.AppendData.nonceStr,
							signature: result.AppendData.signature,
							jsApiList: [ //需要使用的JS接口列表,分享默认这几个，如果有其他的功能比如图片上传之类的，需要添加对应api进来
								'checkJsApi',
								'onMenuShareTimeline', //
								'onMenuShareAppMessage',
								'onMenuShareQQ',
								'onMenuShareWeibo',
								'getLocation'
							]
						});		
						wx.ready(function() {
							//分享到朋友圈
							wx.onMenuShareTimeline({
								title: title, // 分享标题
								desc: desc, // 分享简介
								link: link, //分享出去后的链接，这里可以将链接设置为另一个页面。
								imgUrl: img_url, // 分享封面
								success: function() {
									// 用户确认分享后执行的回调函数
									// sharePush();
								},
								cancel: function() {
									// 用户取消分享后执行的回调函数
								}
							});
							//分享给朋友
							wx.onMenuShareAppMessage({
                                title: title, // 分享标题
                                desc: desc, // 分享简介
                                link: link, //分享出去后的链接，这里可以将链接设置为另一个页面。
                                imgUrl: img_url, // 分享封面
								type: '', // 分享类型,music、video或link，不填默认为link
								dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
								success: function() {
									// 用户确认分享后执行的回调函数
									// sharePush();
								},
								cancel: function() {
									// 用户取消分享后执行的回调函数
								}
							});
							//分享到QQ
							wx.onMenuShareQQ({
                                title: title, // 分享标题
                                desc: desc, // 分享简介
                                link: link, //分享出去后的链接，这里可以将链接设置为另一个页面。
                                imgUrl: img_url, // 分享封面
								success: function() {
									// 用户确认分享后执行的回调函数
									// sharePush();
								},
								cancel: function() {
									// 用户取消分享后执行的回调函数
								}
							});
							//分享到腾讯微博
							wx.onMenuShareWeibo({
                                title: title, // 分享标题
                                desc: desc, // 分享简介
                                link: link, //分享出去后的链接，这里可以将链接设置为另一个页面。
                                imgUrl: img_url, // 分享封面
								success: function() {
									// 用户确认分享后执行的回调函数
									// sharePush();
								},
								cancel: function() {
									// 用户取消分享后执行的回调函数
								}
							});
							//分享到QQ空间
							wx.onMenuShareQZone({
                                title: title, // 分享标题
                                desc: desc, // 分享简介
                                link: link, //分享出去后的链接，这里可以将链接设置为另一个页面。
                                imgUrl: img_url, // 分享封面
								success: function() {
									// 用户确认分享后执行的回调函数
									// sharePush();
								},
								cancel: function() {
									// 用户取消分享后执行的回调函数
								}
							});

						});

					},
					error: function() {
						console.log("走了错误")
					}
				});
			});
		</script>
	</body>
</html>
