<extend name="./base" />

<block name="css_extend">
	<style>
		.zzc_afaaf_from {
			overflow: hidden;
			width: 95%;
			margin: 10px auto 0;
		}
		
		.zzc_afaaf_from>div {
			width: 49.5%;
			float: left;
		}
		
		.zzc_gfsga_div {
			width: 100%;
			margin-bottom: 8px;
			position: relative;
		}
		
		.zzc_gfsga_img {
			width: 100%;
			border-radius: 5px;
		}
		
		.zzc_gfsga_span {
			background: rgba(80, 80, 80, 0.3);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			color: #fff;
			text-align: center;
			width: 100%;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			position: absolute;
			bottom: 4px;
			left: 0;
		}
		
		.zzc_gfsga_div span.on {
			background: rgba(47, 179, 211, 0.8)!important;
			color: #FFFFFF!important;
		}
		
		.bet {
			margin-right: 1%;
		}
		
		.btn {
			width: 100%;
			height: 60px;
		}
		
		.end {
			width: 100%;
			height: 60px;
		}
		
		.loading {
			width: 155px;
			height: 120px;
			text-align: center;
			line-height: 80px;
			position: fixed;
			top: 50%;
			left: 50%;
			margin-top: -60px;
			margin-left: -77.5px;
			display: none;
			background: rgba(0, 0, 0, 0.5);
			border-radius: 7px;
		}
		
		@-webkit-keyframes rotate {
			0% {
				-webkit-transform: rotate(0deg);
			}
			50% {
				-webkit-transform: rotate(180deg);
			}
			100% {
				-webkit-transform: rotate(360deg);
			}
		}
		
		.loading .imgs {
			width: 40px;
			height: 40px;
			margin-top: 18px;
			margin-left: 58px;
			animation: rotate 3s linear infinite;
		}
		
		.build {
			margin-left: 30px;
			color: #fff;
			margin-top: -15px;
			font-size: 15px;
		}
		
		.clearfix:after {
			content: "";
			display: block;
			clear: both;
		}
		
		.fl {
			float: left;
		}
		
		.mui-icon {
			position: absolute;
			top: 0;
			right: 0;
			background: rgba(255, 255, 255, 0.5);
			color: red;
			font-size: 30px;
			cursor: pointer;
		}
	</style>
</block>
<link rel="stylesheet" type="text/css" href="__HOME_CSS__/add/css/mui.min.css" />
<script src="__HOME_CSS__/add/js/mui.min.js" type="text/javascript" charset="utf-8"></script>
<block name="body">
	<form action="" method="post" id="form" enctype="multipart/form-data">
		<div class="zzc_afaaf_from">

			<!-- <div>
					<div class="zzc_gfsga_div">
						<img class="zzc_gfsga_img" src="__HOME_IMAGES__/style_2.png" alt="" />
						<if condition="$data['style']==2">
							<span class="zzc_gfsga_span on" data-type="2">正在使用</span>
						<else />
							<span class="zzc_gfsga_span" data-type="2">立即使用</span>
						</if>
					</div>
					<div class="zzc_gfsga_div">
						<img class="zzc_gfsga_img" src="__HOME_IMAGES__/style_1.png" alt="" />
						<if condition="$data['style']==1">
							<span class="zzc_gfsga_span on" data-type="1">正在使用</span>
						<else />
							<span class="zzc_gfsga_span" data-type="1">立即使用</span>
						</if>
					</div>
				</div>
				<input value='{$data.style}' type="hidden" name="style" /> -->
		</div>
		<div class="end"></div>
		<div class="zzc_myranwen_bottom" data="ckend">
			<!-- {:url('Home/Poster/preview')} -->
			<a href="javascript:void(0)" onclick="yulan1()">
				<input type="button" name="" id="yulan" value="预览" style="background:#ffffff!important" class="zzc_myruanwen_bottom_button" />
			</a>
			<input type="button" name="" id="save" value="保存" class="zzc_myruanwen_bottom_button zzc_blue_bg" onclick="saveinfo()" />
		</div>
	</form>

	<input type="hidden" value="" id='sa' />
	<input type="hidden" value="" id='my' />
	<input type="hidden" value="" id="myimg">
	</div>

	<div class="loading clearfix">
		<img class="fl imgs" src="__HOME_IMAGES__/loadad.gif" alt="">
		<div class="build fl">生成中请稍后</div>
	</div>
	<!-- __HOME_IMAGES__/jazai.png -->
	<div class="mui-popup mui-popup-in" style="display: none;">
		<div class="mui-popup-inner">
			<div class="mui-popup-title">提示</div>
			<div class="mui-popup-text">确认删除吗？</div>
		</div>
		<div class="mui-popup-buttons">
			<span class="mui-popup-button">否</span>
			<span class="mui-popup-button mui-popup-button-bold">是</span>
		</div>
	</div>
	<div class="mui-popup-backdrop mui-active" style="display: none;"></div>
</block>
<block name="js_extend">

	<script type="text/javascript">
		var imgid;
		var img;
		var id = '{$id}';
		var unionid = '{$unionid}';
		var myid = 0
		$.ajax({
			//几个参数需要注意一下
			type: "POST", //方法类型
			dataType: "json", //预期服务器返回的数据类型
			url: "index.php?s=/Api/IndexApi/wallpaper_list", //url 
			data: {
				"id": id
			},
			success: function(result) {
				var htmlstr = '';
				if(result.ResultType == 0) {
//					console.log(result)
					$.each(result.AppendData, function(idx, item) {
						if(item.my) {
							if(idx % 2 == 0) {
								// alert(idx%2);
								htmlstr += '<div class="bet">';
							} else {
								// alert(idx);
								htmlstr += '<div class="">';
							}
							htmlstr += '<div class="zzc_gfsga_div">';
							htmlstr += '<img class="zzc_gfsga_img" src="' + item.my.img + '" alt="" name="' + item.id + '"/>';
							htmlstr += '<span class="mui-icon mui-icon-closeempty del" myid="' + item.my.id + '"></span>';
							htmlstr += '<if condition="$data['
							style ']==1">';
							htmlstr += '<span class="zzc_gfsga_span on" data-type="a" name="' + item.id + '">正在使用</span>';
							htmlstr += '<else />';
							htmlstr += '<span class="zzc_gfsga_span" data-type="a" name="' + item.id + '">立即使用</span>';
							htmlstr += '</if>';
							htmlstr += '</div>';
							htmlstr += '</div>';
						} else {
							if(idx % 2 == 0) {
								htmlstr += '<div class="bet">';
							} else {
								htmlstr += '<div class="">';
							}
							htmlstr += '<div class="zzc_gfsga_div">';
							htmlstr += '<img class="zzc_gfsga_img" src="' + item.img + '" alt="" />';
							//							htmlstr += '<span class="mui-icon mui-icon-closeempty"></span>';
							htmlstr += '<if condition="$data['
							style ']==1">';
							htmlstr += '<span class="zzc_gfsga_span on" data-type="b" name="' + item.id + '">正在使用</span>';
							htmlstr += '<else />';
							htmlstr += '<span class="zzc_gfsga_span" data-type="b" name="' + item.id + '">立即使用</span>';
							htmlstr += '</if>';
							htmlstr += '</div>';
							htmlstr += '</div>';
						}

					});
					// document.getElementById('img0').src = result.AppendData.img;
					// alert(result.AppendData);
					$('.zzc_afaaf_from').append(htmlstr);

					$('.zzc_gfsga_span').on('click', function() {
						var type = $(this).find('span').attr('data-type');
//						console.log(type);
						$('.zzc_gfsga_span').removeClass('on').html("立即使用");

						imgid = $('#sa').val($(this).attr('name'));
						var gg = $(this).parent().find('.zzc_gfsga_img').attr("src");
						// imgsid = $('#sa').attr('value', imgid);
						img = $("#myimg").attr('value', gg);
//						console.log(imgid);
						$('#my').val($(this).attr('data-type'));
						// alert($(this).find('span').attr('name'));
						$(this).addClass('on').html("立即使用");
						$("input[name=style]").val(type);
					});
				}
			},
			error: function() {
				console.log("服务器繁忙，请稍后再试！");
			}
		});

		// 	var aa=false;
		// 	function yulan1(){
		// 		if (aa==true){
		// 			window.location.href='__ROOT__/index.php?s=/Home/Poster/preview/img/&'+img;
		// 		}else{
		// 			alert(请点击立即使用)
		// 	}
		// }

		function yulan1() {

			if(!$(".zzc_gfsga_span").hasClass("on")) {
				mui.alert('请选择一张图片预览');
				return false
			} else {
				img = $('#myimg').val();
				window.location.href = '__ROOT__/index.php?s=/Home/Poster/preview/img/&' + img;
			}

			//		 alert(4);
			// img=$('#myimg').val();
			// 	window.location.href='__ROOT__/index.php?s=/Home/Poster/preview/img/&'+img; 
		}

		// end
		
		$(document).on("click",'.del', function(e) {
			$(".mui-popup-in").show();
			$(".mui-active").show();
			myid = $(this).attr("myid");
		})
		
		$(".mui-popup-button").on("click",function(){
			$(".mui-popup-in").hide();
			$(".mui-active").hide();
		})
		
		$(".mui-popup-button-bold").on("click",function(){
//			console.log(myid)
			$.ajax({
				//几个参数需要注意一下
				type: "POST", //方法类型
				dataType: "json", //预期服务器返回的数据类型
				url: "index.php?s=/Api/IndexApi/wallpaper_del", //url 				
				data: {
					unionid:unionid,
					wall_id:myid
				},
				
				success: function(result) {
					if(result.ResultType == 0) {
						window.location.reload();
					}
				},
				error: function() {
					window.location.reload();
				}
			});
		})
		function saveinfo() {

			var my = $('#my').val();
			var id = '{$id}';
			if(my == 'a') {
				mui.alert("您当前使用的是自己的模板!");
				return false;
			}
			if(my == 'b') {
				var idu = $('#sa').val();
				$.ajax({
					//几个参数需要注意一下
					type: "POST", //方法类型
					dataType: "json", //预期服务器返回的数据类型
					url: "index.php?s=/Api/IndexApi/extension_code", //url 
					data: {
						id: id,
						w_id: idu
					},
					beforeSend: function() {
						$(".loading").css("display", "block");
					},
					success: function(result) {
						console.log(result)
						$(".loading").css("display", "none");
						if(result.ResultType == 0) {
							mui.alert("恭喜您操作成功!");
							location.href = '__ROOT__/index.php?s=/Home/Poster/wallpaper.html&' + (new Date().getTime());
						}
					},
					error: function() {
						console.log("服务器繁忙，请稍后再试！");
						$(".loading").css("display", "none");
						location.href = '__ROOT__/index.php?s=/Home/Poster/wallpaper.html&' + (new Date().getTime());
					}
				});
			}
		}

	</script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js" type="text/javascript"></script>
	<script type="text/javascript">
		document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
			// 通过下面这个API隐藏右上角按钮hideOptionMenu
			WeixinJSBridge.call('hideOptionMenu');
		});
	</script>
</block>